* {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.button-spacing {
    margin-right: 10px;
}

.heading-color {
    color: lightseagreen;
}

.remove-top-margin {
    margin-top: -5px;
}

.container {
    display: flex;
    flex-direction: row;
  }
  
.left {
    width: 50%;
    /* height: 100vh;
    margin: 5px;
    padding: 5px;
    border: 2px solid red; */
}

.right {
    width: 50%;
    /* margin: 5px;
    padding: 5px;
    border: 2px solid green;*/
} 